html {
    font-size: 13px;
    
}

@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Ensure the body and html take up the full height */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Make the main content take up the remaining space */
main {
    flex: 1 0 auto;
}

/* Footer stays at the bottom */
footer {
    flex-shrink: 0;
}
